.cart-preview {
    background-color: #fff;
    border: 1px solid #ccc;
    right: 110px;
    width: 368px;
}

.cart-preview:after, .cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
}

.cart-preview:before {
    top: -9px;
    right: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
}

.cart-preview:after {
    top: -7px;
    right: 9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

@media (max-width: 500px) {
    .cart-preview {
        min-width: 300px;
        right: 10px;
    }
    .cart-preview:before {
        right: 115px;
    }
    .cart-preview:after {
        right: 116px;
    }
}

@media (max-width: 380px) {
    .cart-preview {
        min-width: 300px;
        right: 10px;
        width: 96%;
    }
}

.cart-item {
    align-items: center;
    display: flex;
    padding: 8px;
}

@media (max-width: 380px) {
    .cart-item {
        width: 280px;
        align-items: center;
        display: flex;
        padding: 8px;
    }
}


.fadeIn-enter {
    opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}