.section_padding_100 {
    padding-bottom: 50px;
}

.section-heading {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.line-shape {
    margin-left: calc(50% - 40px);
}

.line-shape-white, .line-shape {
    width: 80px;
    height: 2px;
    background-color: #03A9F4;
    margin-top: 15px;
}

.single-special {
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 40px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
}

.single-special:hover {
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}

.single-icon {
    margin-bottom: 25px;
}

.single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
}

.icon_style {
    font-size: 60px;
    color: rebeccapurple;
}

.card-enter {
    opacity: 0;
}
.card-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.card-exit {
    opacity: 1;
}
.card-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
